*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #5d3a3a;
    height: 300px;
    width: 400px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: #b5e0ba;
}
